Lectures/cs224n/2017/assignment_1/__pycache__/
Lectures/cs224n/2017/assignment_1/utils/__pycache__/
Lectures/cs224n/2017/assignment_1/utils/datasets/glove.6B.50d.txt
Lectures/cs224n/2017/assignment_1/utils/datasets/
Lectures/cs224n/2017/assignment_1_soln/
Lectures/cs224n/2017/assignment_1/__pycache__/
Lectures/cs224n/2017/assignment_1/utils/__pycache__/
Lectures/cs224n/2019/utils/utils.py
Lectures/cs224n/2019/utils/__pycache__/gradcheck.cpython-311.pyc
Lectures/cs224n/2019/utils/__pycache__/utils.cpython-311.pyc
Lectures/cs224n/2019/word2vec.py
Lectures/cs224n/2019/utils/gradcheck.py
Lectures/cs224n/2017/assignment_2/data/
Lectures/cs224n/2017/assignment_2/utils/__pycache__/
Lectures/cs224n/2017/assignment_2/__pycache__/
Lectures/cs229/2018/src/__pycache__